.navbar {
  display: flex;
  background-color: #006dc7;
  color: white;
  height: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.home {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 0 10%;
}
.footer {
  background-color: rgb(20, 20, 20);
  color: whitesmoke;
  padding: 10px 0 20px 10%;
  text-align: left;
  justify-content: right;
  align-items: flex-end;
}
p {
  margin-bottom: 0;
}
