.hash {
  background-color: #dcdcdc;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 10px 10px 100px;
  border-radius: 3px;
  border: 1px solid silver;
  box-shadow: 0 2px 8px 0 #828387;
}
