.container {
  padding: 10px;
  width: auto;
  margin-bottom: 20px;
}

.dataform {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.data_Input {
  width: 65vw;
  margin: 10px 20px;
  padding: 10px;
  resize: none;
}

.mine {
  background-color: royalblue;
  border-radius: 5px;
  width: 120px;
  height: 50px;
  margin: 20px;
  font-size: large;
  color: white;
  border: 0;
  align-items: center;
  justify-content: center;
}
.mine:disabled {
  background-color: rgb(97, 127, 219);
}
